/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 giu 2019, 10:25:29
    Author     : leona
*/

.testo
{
    position: absolute;
    width: auto;
    margin-left: 25%;
    height: 150px;
    margin-top: 8%;
    z-index: 1;
    color: #002566;
}


.CittaG
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: 150px;
    margin-left: 75%;
    margin-top: 8%;
    color: #002566;
}

.CittaM
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: 150px;
    margin-left: 60%;
    margin-top: 8%;
    color: #002566;
}

.CittaP
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: 150px;
    margin-left: 45%;
    margin-top: 8%;
    color: #002566;
}

.form1
{
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 3%;
    
    margin-left: 15%;
    margin-top: 11%;
}

.form2
{
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 3%;
    
    margin-left: 15%;
    margin-top: 15%;
}

.form3
{
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 3%;
    
    margin-left: 15%;
    margin-top: 19%;
}

.smallB
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    margin-left: 53%;
    margin-top: -2%;
    background: transparent;
    border: none !important;
}

.mediumB
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    margin-left: 78%;
    margin-top: -2%;
    background: transparent;
    border: none !important;
}

.bigB
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    margin-left: 103%;
    margin-top: -2%;
    background: transparent;
    border: none !important;
}

.nomeG
{
    position: absolute;
    z-index: 1;
    margin-bottom: 3%;
    width: auto;
    height: auto;
    margin-left: 15%;
}

.icon
{
   width: 400%;
   height: auto;
   position: absolute;
   
}