/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 giu 2019, 10:25:29
    Author     : leona
*/

.testo
{
    position: absolute;
    width: auto;
    margin-left: 25%;
    height: 150px;
    margin-top: 8%;
    z-index: 1;
    color: #002566;
}


.CittaG
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: 150px;
    margin-left: 75%;
    margin-top: 8%;
    color: #002566;
}

.CittaM
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: 150px;
    margin-left: 60%;
    margin-top: 8%;
    color: #002566;
}

.CittaP
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: 150px;
    margin-left: 45%;
    margin-top: 8%;
    color: #002566;
}

.form1
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    margin-left: 25%;
    margin-top: 11%;
}

.smallB
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    margin-left: 45%;
    margin-top: 11%;
    background: transparent;
    border: none !important;
}

.mediumB
{
        position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    margin-left: 60%;
    margin-top: 11%;
    ùbackground: transparent;
    border: none !important;
}

.bigB
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    margin-left: 75%;
    margin-top: 11%;

}

.nomeG
{
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    margin-left: 25%;
    margin-top: 11%;
}

.icon
{
   width: 10%;
   height: auto;
   position: absolute;
   
}