body{
    background-color:#f6f6f6;
}

#image
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    
    width: auto;
    height: auto;
    max-width: 400px;
}
    
#button
{
    position: absolute;
    left: 470px;
    top: 480px;
    z-index: 1;
}


#myImage
{
 position: relative;
 width: 1000px;
 margin: 0 auto;
}

#italian
{
    position: absolute;
    left: 660px;
    top: 10px;
    z-index: 1;
}

#english
{
    position: absolute;
    left: 600px;
    top: 10px;
    z-index: 1;
}




















































































































