body{
    background-color:#f6f6f6;
}

#image
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    
    width: 800px;
    height: auto;
    
}
    
button
{
    position: absolute;
    left: 410px;
    top: 550px;
    z-index: 1;
}


#myImage
{
 position: relative;
 width: 800px ;
 margin: 0 auto;
}

#italian
{
    position: absolute;
    left: 660px;
    top: 10px;
    z-index: 1;
}

#english
{
    position: absolute;
    left: 600px;
    top: 10px;
    z-index: 1;
}




















































































































