body{
    background-color:#f6f6f6;
}

#image
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    display: block;
    
    width: 80%;
    height: auto;
    max-height: 800px;
    overflow-y: hidden;
    
}
    
#confirm
{
    position: absolute;
    left: 50%;
    bottom: 50px;
    z-index: 1;
    width: 5%;
    height: 5%;
}


#myImage
{
 position: relative;
 width: auto ;
 height: auto;
 margin: 0 auto;
}

#italian
{
    position: absolute;
    left: 83%;
    top: 30px;
    z-index: 1;
    background: transparent;
    border: none !important;
}

#ButtonIMG
{
    width: 90%;
    height: auto;
}

#english
{
    position: absolute;
    left: 78%;
    top: 30px;
    z-index: 1;
    width: 5%;
    background: transparent;
    border: none !important;
}

button
{
    width: 5%;
    height: auto;
}


#language
{
    position: relative;
    display: block; 
    width: auto;
    height: auto;
}















































































































